/* General Styles */
.schedbod {
    background-color: #000068;
    justify-content: center;
}

.sect {
    margin: auto;
    font-family: Poppins;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    background-color: #000068;
}

/* Header Styles */
.headSch {
    color: #ffffff;
    text-align: center;
    font-size: 6em; /* Adjust font size for smaller screens */
    background: #000068;
    font-family: 'Poppins';
}

/* Container Styles */
.containerSchedule {
    width: 100%;
    height: 15%; /* Adjust height for flexibility */
    display: flex;
    flex-direction: column; /* Stack items vertically on small screens */
    border: 10px solid #000068;
    background-color: #f7f7f7;
}

.isBlue {
	background-color: #00fcf1;
	width: 2%;
	padding-left: 1%;
}

.isYellow{
	background-color: #fcff00;
	width: 2%;
	padding-left: 1%;
}

/* Logo Styles */
.logo {
    width: 1in;
    height: 1in;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: inherit;
    height: inherit;
    margin-top: 15%;
}

/* Text and Score Container Styles */
.text-container,
.score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: auto;
    flex: 4;
}

.score-container {
    padding-right: 2.5%;
    flex: 2;
}

/* Alignment Styles */
.left-aligned,
.center-aligned,
.right-aligned {
    text-align: center; /* Adjust alignment for small screens */
}

/* Heading Styles */
h1,
h2,
h4 {
    margin: 0;
}

/* Match Styles */
.matches-bar {
    display: flex;
    background: #000068;
    width: 100%;
    flex-wrap: wrap; /* Allow matches to wrap on small screens */
}

.match {
    flex: 1;
    border: 1px solid #000000;
    margin: 5px; /* Add margin between matches */
    padding: 10px; /* Add padding to improve touchability */
}

.match-status {
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.live {
    background-color: yellow;
}

.not-live {
    background-color: blue;
}

.match-content {
    text-align: center;
}

/* Team Styles */
.team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.team-name,
.team-score {
    margin: 0 10px;
}
